
.hero-bg {
  background: linear-gradient(to right, #8e2de2, #4a00e0); 
}

.mission-bg {
  background: linear-gradient(to right, #009245, #fcee09); 
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.product-card:hover {
  transform: translateY(-5px);
  background-color: #f1f8e9;
}